.main {
  padding: 1em;
  .row {
    margin: 0.5em 0;
  }
}
.dbUrl {
  min-width: 30em;
  min-height: 1em;
}
.query {
  min-width: 30em;
  min-height: 10em;
}
.button {
  color: white;
  margin-right: 0.5em;
}
